.qrcontainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.qrcontainer p {
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
    color: #333;
}

.qrcontainer input[type="qrtext"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

#qrBox {
    text-align: center;
    margin-bottom: 20px;
}

#qrImg {
    max-width: 100%;
    height: auto;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#button {
    margin-top: 10px;
    text-align: center;
}

#download {
    text-decoration: none;
    color: #fff;
}
#qrText {
    width: 100%; /* Set width to fill the container */
    text-align: center; /* Center-align text */
    margin-bottom: 10px; /* Add some spacing */
  }
  